<div class = "container">

<h1><%= @cocktail.name %></h1>
 <% if @cocktail.photo.attached? %> 
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill, class:"img-show" %>
  <% end %>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <h3><%= "Ingredient : #{dose.description} de #{dose.ingredient.name}" %></h3>
    
  <% end %>
</ul>

<%= link_to  "Add a dose", new_cocktail_dose_path(@cocktail),class:"btn btn-primary"%>
<br>
<br>
<%= link_to  "Back to cocktails", cocktails_path, class:"btn btn-primary" %>

</div>