<div class = "container">

<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
  <%= image_tag  "https://images.unsplash.com/photo-1546173159-315724a31696?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80",class:"my-4"%>
    <h3><%= "Ingredient : #{dose.description} de #{dose.ingredient.name}" %></h3>
    
  <% end %>
</ul>

<%= link_to  "Add a dose", new_cocktail_dose_path(@cocktail),class:"btn btn-primary"%>
<br>
<br>
<%= link_to  "Back to cocktails", cocktails_path, class:"btn btn-primary" %>

</div>